* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header-section {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #BE3144;
    position: fixed;
    z-index: 10;
}

.header-section p {
    text-align: center;
    color: #F0F0F0;
    text-transform: uppercase;
}

.logo {
    display: none;
}

.nav-links a {
    display: none;
}

.nav-links {
    display: none;
}

.welcome-section {
    width: 100%;
    height: 90vh;
    background-color: #252528;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.image-container img {
    width: 90%; 
    height: auto;
}

.text-container h1{
    font-size: 1.5rem;
    color: #F0F0F0;
}

.text-container p {
    color: #BE3144;
    font-style: italic;
}

.about-me-section {
    background-color: #45567D;
    padding: 60px 50px;
}

.about-me-section h2 {
    color: #F0F0F0;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}

.interest-hobbies {
    list-style: none;
}

.interest-hobbies li:nth-child(1)::before {
    content: "🎶";
    display: inline-block;
    margin-right: 5px;
}

.interest-hobbies li:nth-child(3)::before {
    content: "🎸";
    display: inline-block;
    margin-right: 5px;
}

.interest-hobbies li:nth-child(5)::before {
    content: "📺";
    display: inline-block;
    margin-right: 5px;
}

.interest-hobbies li:nth-child(7)::before {
    content: "🎮";
    display: inline-block;
    margin-right: 5px;
}

.interest-hobbies li:nth-child(9)::before {
    content: "🎨";
    display: inline-block;
    margin-right: 5px;
}

.interest-hobbies li {
    font-weight: bold;
    margin-bottom: 5px;
    color: #252528;
}

.interest-hobbies p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #F0F0F0;
}

.works-section {
    background-color: #303841;
    color: #F0F0F0;
    padding: 60px 50px;
    
}

.works-section h2,
.goals-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.work-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.work-list div {
    text-align: center;
    background-color: #45567D;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.work-list div:hover {
    transform: scale(1.1);
}

.work-list p {
    padding: 1rem 0.5rem;
}

.works-section img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.goals-section {
    background-color: #252528;
    color: #F0F0F0;
    padding: 60px 50px;
}

.goals-section li {
    margin-bottom: 10px;
}

.goals-section span {
    color: #BE3144;
}

.journal span {
    display: block;
    margin-top: 20px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #45567D;
    padding: 30px 25px;
    border-top: 5px solid #BE3144;
    color: #F0F0F0;
}

.contact-section h2 {
    margin-bottom: 30px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials a {
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.socials a:hover {
    transform: translateY(8px);
}

.socials i,
.socials a {
    color: #F0F0F0;
}

@media only screen and (min-width: 480px) {
    .header-section {
        padding: 10px 60px;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav-links a {
        display: inline;
        text-decoration: none;
        font-size: 1.1rem;
    }

    .header-section a {
        color: #F0F0F0;
    }

    .logo {
        display: contents;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #F0F0F0;
    }

    .header-section p {
        display: none;
    }

    .welcome-section {
        height: 100vh;
        justify-content: center;
        flex-direction: row;
        gap: 0;        
    }

    .image-container img {
        margin-top: -100px;
        width: 80%;
        
    }

    .text-container h1{
        font-size: 2.5rem;
        color: #F0F0F0;
    }

    .text-container p {
        font-size: 1.5rem;
    }

    .about-me-section h2,
    .works-section h2,
    .goals-section h2,
    .contact-section h2 {
        font-size: 2rem;
    }

    .works-section img {
        width: 350px;
        height: 350px;
    }

    .work-list {
        justify-content: flex-start;
    }

    .contact-section {
        padding: 60px 50px;
    }

    .socials {
        flex-direction: row;
        font-size: 1.5rem;
        gap: 50px;
    }


}