img {
    max-width: 30%;
    min-width: 400px;
    border: 2px solid black;
}

.highlight {
    font-weight: bold;
}

#country_input,
#search_btn {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

#country_input {
    border: 1px solid #ccc;
    width: calc(100% - 100px);
    max-width: 300px;
}

#search_btn {
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 100px;
}